
.slider{
    aspect-ratio: 10 / 16;
    width: 300px;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
.slider img{
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
}

.elemento{
    flex: 1 0 auto;
    margin: 0 50px;
    background-color: red;
    width: 500px;
    height: 500px;
}
  @keyframes moverImagen {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
.animacion-imagen {
    animation: moverImagen 4s ease-in-out infinite;
  }
  form {
    background-color: darkgreen;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  label {
    display: block;
    margin-bottom: 8px;
  }
  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

.cursiva{
    font-style: italic;
}
.impact{
    font-family: Impact;
}
.fantasy{
   font-family: 'Times New Roman';
}